@import 'tailwindcss';

.markdown h1 {
  @apply my-5 text-2xl;
}
.markdown h2 {
  @apply my-5 border-b pb-1 text-xl;
  border-color: #064a6e;
}
.markdown a {
  @apply underline hover:no-underline;
  color: #064a6e;
}
.markdown p {
  @apply mb-3;
}
.markdown ul {
  @apply mb-3 ml-2 pl-3;
}
.markdown li {
  @apply list-outside list-disc pl-2;
  /* list-style-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=") */
}
.markdown li > ul {
  @apply mb-0;
}
.markdown li > ul > li {
  @apply pl-2;
  list-style-image: none;
  list-style-type: circle;
}
.markdown code {
  @apply p-1 text-sm;
  background-color: #fff3d2;
}
.markdown table {
  @apply mb-3 table-auto border-collapse border border-slate-300 bg-white text-sm shadow-sm;
}
.markdown td {
  @apply border border-slate-300 px-4 py-2;
}
.markdown th {
  @apply border border-slate-300 bg-slate-100 p-4 py-2 text-left font-bold;
  color: #064a6e;
}
